/CandySmith.IAP.csproj
/CandySmith.Localization.Editor.csproj
/DOTween.Modules.csproj
/ImageCreatorEditor.csproj
/Reordable.csproj
/ReordableEditor.csproj
/.idea
/Library
/Logs
/obj
/UserSettings
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-firstpass.csproj
/BP.sln
/CandySmith.Ads.csproj
/CandySmith.BlockPuzzle.Drawers.csproj
/CandySmith.BlockPuzzle.LevelEditor.csproj
/CandySmith.BlockPuzzle.Main.csproj
/Temp
/._.idea
/._Assembly-CSharp-Editor.csproj
/._Assembly-CSharp.csproj
/._BPGT.sln
/._CandySmith.BlockPuzzle.LevelEditor.csproj
/._CandySmith.BlockPuzzle.Main.csproj
/._ImageCreatorEditor.csproj
/._Library
/._Logs
/._Temp
/._UserSettings
/._obj
/Assets/Scripts/Attributes/._IconPreviewAttribute.cs
/Assets/Scripts/Editor/._EditorUtils.cs
/Assets/Scripts/Editor/Drawers/._IconDrawer.cs
/Assets/Scripts/Enums/._ELevelType.cs
/Assets/Scripts/Gameplay/._Item.cs
/Assets/Scripts/LevelsData/._Bonus.cs
/Assets/Scripts/LevelsData/._BonusItemTargetScriptable.cs
/Assets/Scripts/LevelsData/._BonusItemTemplate.cs
/Assets/Scripts/LevelsData/._FillAndPreview.cs
/Assets/Scripts/LevelsData/._ItemTemplate.cs
/Assets/Scripts/LevelsData/._Level.cs
/Assets/Scripts/LevelsData/._LevelTypeScriptable.cs
/Assets/Scripts/LevelsData/._ScoreTargetScriptable.cs
/Assets/Scripts/LevelsData/._ScriptableData.cs
/Assets/Scripts/LevelsData/._ShapeTemplate.cs
/Assets/Scripts/LevelsData/._TargetScriptable.cs
/Assets/Scripts/LevelsData/Editor/._LevelEditor.cs
/Assets/Scripts/LevelsData/Editor/._LevelSwitcher.cs
/Assets/Scripts/LevelsData/Editor/._ShapeEditor.cs
/Assets/Scripts/LevelsData/Editor/._TargetEditor.cs
/Assets/Scripts/Utils/._Collider2DExtensions.cs
/Assets/Scripts/Utils/._DefineSymbolsUtils.cs
/Assets/Scripts/Utils/._RectTransformUtils.cs
/Assets/Scripts/Utils/._SerializableDictionary.cs
/Assets/Scripts/Utils/._StringUtlis.cs
/Assets/Scripts/Utils/._TimeUtils.cs
/Assets/Scripts/Utils/._TransformUtils.cs
/Assets/Scripts/Utils/._TryAddComponent.cs
/Assets/Scripts/Utils/._VectorUtils.cs
/Assets/Scripts/Utils/ImageCreator/Editor/._ImageCreator.cs
/Packages/._packages-lock.json
/ProjectSettings/._ProjectVersion.txt
